<!DOCTYPE html>
<html lang="en">
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    socket.on('connect', function () {
        socket.emit('my event', {data: 'I\'m connected!'});
    });
</script>

<head>
    <meta charset="UTF-8">
    <title>AAAAAA</title>
</head>
<body>
<button id="pressMe">PRESS ME</button>

<label>Some data:</label>
<p id="someData"></p>

<img id="myImage" height='500' width='500' src="../static/light_off.png">
</body>
</html>


<script>
    pressMe.onclick = function () {
        socket.emit("buttonPressed")
    };

    var light = 'off';

    socket.on("buttonData", function (msg) {
        document.getElementById("someData").innerHTML = msg;
        if (light === 'off') {
            document.getElementById('myImage').src = '../static/light_on.png';
            light = 'on';
        }
        else {
            document.getElementById('myImage').src = '../static/light_off.png';
            light = 'off';
        }
    })
</script>
